@import "tailwindcss";

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-[#f4f6f8] text-[#1e293b];
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
